<header>
  <div id="title-wrapper">
    <h1><a href="/">{{ site.title }}</a></h1>
    <div id="desc">Profiles of public, urban art.</div>
  </div>
  <div class="nav-wrapper">
    <div class="dropdown-wrapper">
  		<ul class="dropdown-menu">
  			<li class="has-children">
          <a href="#" id="dropdown-title">Cities</a>
  				<ul>
  					<li><a href="#">Detroit</a></li>
  					<li><a href="#">Melbourne</a></li>
            <li><a href="#">New York</a></li>
  					<li><a href="#">Sydney</a></li>
  				</ul>
  			</li>
  		</ul>
  	</div>
    <a href="/about" id="about-link">About</a>
  </div>
</header>