body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto", arial narrow, arial, helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include breakpoint(medium) {
    margin: 0 20px;
  }
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 2px 5px;
  transition: all .3s ease-out;

  @include breakpoint(medium) {
    margin: 20px 2px;
  }
  @include breakpoint(small) {
    margin: 20px 0;
  }

  h1 {
    margin: 0;
    display: inline-block;
  }

  h1 > a {
    border-bottom: 1px solid $white;
    color: $black;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    transition: all .2s ease-out;

    &:hover {
      border-bottom: 1px solid $black;
      cursor: pointer;
    }
  }

  #desc {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    padding-left: 4px;
  }

  #about-link {
    border-bottom: 1px solid $white;
    color: $black;
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 18px;
    padding-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s ease-out;
    z-index: 999;

    &:hover {
      border-bottom: 1px solid $black;
      cursor: pointer;
    }
  }
}

/* index page shared styles */
.section-title {
  margin: 0 2px -21px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 100%;

  h2 {
    background-color: $white;
    border: 1px solid $light-grey;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0;
    position: relative;
    padding: 5px 10px;
    text-transform: uppercase;
    z-index: 1;
  }

  .line {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: $light-grey;
  }
}

/* index page featured-section styles */
.featured-posts-wrapper {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 45px;

  @include breakpoint(small) {
    margin-bottom: 0;
  }

  .post-wrapper {
    border: 2px solid $white;
    height: auto;
    position: relative;
    width: 32.5%;

    @include breakpoint(small) {
      width: 100%;
      margin-bottom: 15px;
    }

    .post {
      width: 100%;
      display: flex;
      background-size: cover;
      background-position: center center;

      &:after {
        content: '';
        padding-top: 75%;
      }
    }

    .post-text {
      text-align: center;

      .title {
        border-bottom: 1px solid $white;
        color: $black;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        text-decoration: none;
        transition: all .2s ease-out;

        &:hover {
          border-bottom: 1px solid $black;
          cursor: pointer;
        }
      }

      .location {
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
        margin: 0 auto;
        width: 80%;

        p:first-child {
          margin-top: 6px;
        }
      }
    }
  }
}

/* index page all-posts styles */
.all-posts-wrapper {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  position: relative;

  .post {
    width: 25%;
    height: 100%;
    position: relative;
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-size: contain;

    @include breakpoint(medium) {
      width: 33.3%;
    }
    @include breakpoint(small) {
      width: 100%;
    }

    &:after {
      content: '';
      padding-top: 100%;
    }

    .post-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: $white;
      transition: opacity .3s ease-out;

      @include breakpoint(medium) {
        background-color: transparent;
        opacity: 1;
      }

      &:hover {
        opacity: .85;
      }
    }

    .post-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      color: $black;
    }

    .text-item {
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      max-width: 80%;
      padding: 15px;

      @include breakpoint(medium) {
        font-size: 13px;
        font-weight: 300;
        padding: 2px 6px;
        margin: 10px;
        background: rgba(255,255,255,.85);
      }
    }

    .title {
      align-self: flex-start;
      text-align: left;
    }

    .location {
      align-self: flex-end;
      text-align: right;
    }
  }
}

/* post page styles */
.main-content {
  margin: 0 2px;
  flex: 1 0 auto;

  .vertical-img {
    float: right;
    margin: 15px 0 30px 30px;
    width: 45%;

    @include breakpoint(small) {
      float: none;
      margin: 0;
      width: 100%;
    }
  }

  .horizontal-img {
    float: right;
    margin: 15px 0 30px 30px;
    width: 70%;

    @include breakpoint(small) {
      float: none;
      margin: 0;
      width: 100%;
    }
  }

  img {
    width: 100%;
  }

  .writing {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    max-width: 75%;

    @include breakpoint(medium) {
      max-width: 100%;
    }

    .splitter {
      width: 55px;
      display: block;
      margin: 15px 0;
      padding-top: 0;
      background-color: $dark-grey;
      border: 0;
      height: 2px;
    }

    .page-title {
      font-size: 20px;
      font-weight: 400;
      margin: 10px 0 5px;
    }

    .page-location {
      margin: 0;
      font-weight: 300;
      font-size: 16px;
    }

    a {
      border-bottom: 1px solid $white;
      color: #60adaf;
      padding-bottom: 2px;
      text-decoration: none;
      transition: all .2s ease-out;

      &:hover {
        color: #a94139;
        border-bottom: 1px solid #a94139;
      }
    }
  }
}

/* footer styles */
footer {
  margin: 50px 0 40px;

  p {
    font-size: 14px;
    margin: 0;
  }
}