<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	{% include header.html %}

	<div class="all-posts-wrapper">
		<div class="section-title">
			<h2>All Posts</h2>
			<div class="line"></div>
		</div>
		{% assign items = site.content | sort: 'date' %}
		{% for post in site.content reversed %}
		<a href="{{post.url}}" class="post" style="background-image: url({{post.landingImage}})">
		  <div class="post-overlay">
				<div class="post-text">
					<div class="title text-item">{{post.title}}</div>
					<div class="location text-item">{{post.location}}</div>
				</div>
		  </div>
		</a>
		{% endfor %}
	</div>

	{% include footer.html %}
</body>
</html>